{% extends 'companies/base.html' %}
{% block title%} Accommodations {% endblock %}
{% block css%}


          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: pink;
            }
          .col-md-3 img{
          width:165px;
          height:200px;
          }
          body .carousel-indicator li{
          background-color: pink;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: pink;
          }

          .carousel-control-prev,
          .carousel-control-next{
           top:auto;
            bottom:auto;
            padding-top:250px;
          }

           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }





 {% endblock %}
{% block body %} 










{% endblock %}