{% extends 'companies/base.html' %}
{% block title%} Accommodations {% endblock %}
{% block css%}

        
        .white-text{

         color: #fff;
         cursor: pointer;
        text-decoration: italic;
         
        }
       .amir{
         background-color: rgb(180,5,100);
        }
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: pink;
            }
          .col-md-3 img{
          width:312px;
          height:180px;
          }
          body .carousel-indicator li{
          background-color: pink;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: pink;
          }

          .carousel-control-prev,
          .carousel-control-next{
           top:auto;
            bottom:auto;
            padding-top:250px;
          }

           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }





 {% endblock %}




{% block body %} 


{% load static %}

<div class="container">
     <!--Slideshow starts here -->
    {% for product,range,nSlides in allProds  %}
    <h2 class="my-4">{{product.0.category}}</h2>
  <div class="row">
   <div id="demo{{forloop.counter}}" class="col-xs col-sm col-md carousel slide my-2" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

         {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
         {% endfor %}
    </ul>

   <!--for loop counter starts from 1-->
    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">

          {% for i in product%}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem;">
            <img src='/media/{{i.img}}' class="card-img-top container mx-2"  alt="...">
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.name}}</h5>
              <p class="card-text">{{i.desc|slice:"0:20"}}...</p>
              
                 <span id="divpr{{i.id}}" class ="divpr">   
                <button id="pr{{i.id}}" class="btn  white-text waves-effect waves-light amir cart "> Add To Cart</button> 
                 </span>
            <a href="/company/hotels/{{i.id}}"><button id="qv{{i.id}}" class="btn  white-text waves-effect waves-light amir mt-0 cart ml-auto">Quick - View</button></a>
            </div>
          </div>
        </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div> <div class="carousel-item">
           {% endif %}
          {% endfor %}
    </div>
  </div>
</div>


    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <br>
    </div>  <!--row ko-->
     {% endfor %}
</div>
{% endblock %}


