{% extends 'companies/base.html' %}

{% block title%} 
Guide 
{% endblock %}

{% block css %}
.mt-20 {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cardclass {
    height: 150 px;
    
}

h1{
    font-family:Arial;
    color:red;
}
{% endblock %}

{% block body %}

{% load static %}

<!--Kathmandu Valley-->
<div class='container'>
    <p>
        <h1> 
            Guides in Kathmandu
        </h1>
    </p>
</div>


<div class='container'>
    <div class="row mt-20">
        {% for guide in guides %}
                <div class="col-4 ">
                    <div class="cardclass card">
                        <div class='container'>
                            <img class="card-img-top" src="/media/{{guide.image}}" alt="Guide image" width="320" height="178">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{guide.name}}</h4>
                            <p class="card-text">Language: {{guide.lan}}</p>
                            <p class="card-text">Work experiences: {{guide.qualification}}</p>
                            <p class="card-text">Rating: {{guide.rating}}</p>
                            <button class="btn btn-primary">Hire me</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>

<!--Lalitpur-->
<div class='container'>
    <p>
        <h1> 
            Guides in Lalitpur
        </h1>
    </p>
</div>


<div class='container'>
    <div class="row mt-20">
        {% for guide in guideslalitpur %}
                <div class="col-4 ">
                    <div class="cardclass card">
                        <div class='container'>
                            <img class="card-img-top" src="/media/{{guide.image}}" alt="Guide image" width="320" height="178">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{guide.name}}</h4>
                            <p class="card-text">Language: {{guide.lan}}</p>
                            <p class="card-text">Work experiences: {{guide.qualification}}</p>
                            <p class="card-text">Rating: {{guide.rating}}</p>
                            <button class="btn btn-primary">Hire me</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>

<div class='container'>
    <p>
        <h1> 
            Guides in Bhaktapur
        </h1>
    </p>
</div>


<div class='container'>
    <div class="row mt-20">
        {% for guide in guidesinbhaktapur %}
                <div class="col-4 ">
                    <div class="cardclass card">
                        <div class='container'>
                            <img class="card-img-top" src="/media/{{guide.image}}" alt="Guide image" width="320" height="178">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{guide.name}}</h4>
                            <p class="card-text">Language: {{guide.lan}}</p>
                            <p class="card-text">Work experiences: {{guide.qualification}}</p>
                            <p class="card-text">Rating: {{guide.rating}}</p>
                            <button class="btn btn-primary">Hire me</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>


 {% endblock %}